@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: rgb(22, 22, 22);
    font-family: 'roboto', sans-serif;
}
*:focus{
    outline: none;
}
h1{
    color: white;
    font-weight: 600;
    text-align: center;
}
#imagemPlaceholder{
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    width: 300px;
    transform: translate(15%,0);
}

form{
    display: flex;
    width: 600px;
    height: 40px;
    margin: 30px auto;
    margin-bottom: 60px;
    position: relative;
}

input{
    display: flex;
    width: 100%;
    background-color: rgb(44, 44, 44);
    border: none;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
}

button.add{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    background-color: #363b65;
    cursor: pointer;
    padding: 10px 25px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
button.add:hover{
    background-color: #363f88;
}

.listaTarefas{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 600px;
    margin: auto;
}

.item{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(44,44,44);
    cursor: pointer;
    margin-bottom: 15px;
}
.item:hover{
    background-color: rgb(33, 33, 33);
}
.item span{
    width: 100%;
    color: white;
    margin-right: 10px;
    padding: 10px 15px;
}

.item.completo{
    border: none;
    background-color: rgb(15, 15, 15);
}
.item.completo span{
    color: gray;
    text-decoration: line-through;
}
button.del{
    background: none;
    color: gray;
    border: none;
    padding: 15px;
    cursor: pointer;
}
button.del:hover{
    background: #ff004c;
    color: white;
    border: none;
}
button.deleteAll{
    border: 2px solid #ff004c;
    background: none;
    color: #ff004c;
    padding: 15px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
button.deleteAll:hover{
    background-color: #ff004c;
    border: none;
    color: white;
}

@media screen and (max-width: 900px){
    form{
        width: 100%;
    }
    .listaTarefas{
        width: 100%;
    }
}